* {
	margin: 0;
	padding: 0;
}

/* width */
::-webkit-scrollbar {
	height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
	border-radius: 10px;
	box-shadow: 0 0 2px 1px #8758b4 inset;
}

/* Handle */
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: #8758b4;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background-color: #553770;
}

section {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #8758b4;
}

section div#container {
	background-color: rgba(193, 138, 238, 0.85);
	height: 90vh;
	width: 95vw;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding: 5px 10px;
	box-sizing: border-box;
}

section div#query {
	/* border: 2px black; */
	width: 100%;
	height: 15%;
	border-radius: 30px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: bolder;
	font-size: 2em;
	padding: 10px 5px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
	overflow-x: auto;
}

section div#button-section {
	background-color: red;
	height: 80%;
	width: 100%;
}
