* {
	margin: 0;
	padding: 0;
}

::-webkit-scrollbar {
	height: 7px;
}

::-webkit-scrollbar-track {
	border-radius: 10px;
	box-shadow: 0 0 2px 1px #8758b4 inset;
	background-color: rgba(230, 230, 230, 1);
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: #8758b4;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #553770;
}

section {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #8758b4;
}

section div#container {
	background-color: rgba(193, 138, 238, 0.85);
	height: 700px;
	width: 430px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 20px;
	box-sizing: border-box;
}

section div#query {
	/* border: 2px solid black; */
	width: 100%;
	height: 15%;
	border-radius: 30px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: bolder;
	font-size: 2em;
	padding: 10px 5px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
	overflow-x: auto;
	scrollbar-color: #8758b4 rgba(230, 230, 230, 1);
	scrollbar-width: thin;
}

div#button-section {
	/* background-color: red; */
	height: 80%;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 0.5fr);
	grid-template-rows: repeat(5, 0.5fr);
	gap: 5px;
	grid-template-areas:
		"clear del divide time"
		"seven eight nine min"
		"four five six plus"
		"one two three equal"
		"zero zero comma equal";
}

button.button.equal {
	grid-area: equal;
}

button.button.zero {
	grid-area: zero;
}

button.operation {
	background-color: #553770 !important;
	color: rgba(230, 230, 230, 1);
}

button.operation:hover {
	background-color: #7c49a8 !important;
}

button.button {
	background-color: rgba(230, 230, 230, 1);
	border-radius: 15px;
	border: none;
}

button.button:hover {
	cursor: pointer;
	background-color: rgb(192, 192, 192);
}

@media only screen and (max-width: 576px) {
	section div#container {
		width: 350px;
	}
}
